In [1]:
!pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.34)

In [5]:
import pyodbc
import pandas as pd

In [43]:
uid = 'etl'
pwd = 'demopass'
# driver = "{SQL Server Native Client 11.0}"
driver = "{ODBC Driver 17 for SQL Server}"
# driver = "{OLE DB Driver for SQL Server}"
server = "localhost"
database = "AdventureWorksDW2019;"

In [45]:
conn = pyodbc.connect('DRIVER=' + driver + ';SERVER=' + server + '\SQLEXPRESS' + 
                      ';DATABASE=' + database + ';UID=' + uid + ';PWD=' + pwd)

In [46]:
sql = "SELECT * FROM [dbo].[DimProductCategory]"

In [47]:
df = pd.read_sql_query(sql, conn)
df.head()

C:\Users\gavin\AppData\Local\Temp\ipykernel_9132\219586576.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

,ProductCategoryKey,ProductCategoryAlternateKey,EnglishProductCategoryName,SpanishProductCategoryName,FrenchProductCategoryName
0,1,1,Bikes,Bicicleta,Vélo
1,2,2,Components,Componente,Composant
2,3,3,Clothing,Prenda,Vêtements
3,4,4,Accessories,Accesorio,Accessoire