### Import libraries

In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, SQLContext
import os

### Set Java home

In [2]:
# set Java home
# os.environ["JAVA_HOME"] = "C:\Program Files\Java\jdk-18.0.2.1"
os.environ["JAVA_HOME"] = "C:\Program Files\Eclipse Adoptium\jdk-11.0.18.10-hotspot"

### Start Spark Session

In [3]:
# conf = SparkConf() \
#     .setAppName("Example") \
#     .setMaster("local[*]") \
#     .set("spark.driver.extraClassPath","G:/pyspark/*") \
#     .set('spark.executor.extraClassPath', 'G:/pyspark/*')
conf = SparkConf() \
    .setAppName("Example") \
    .setMaster("local") \
    .set("spark.driver.extraClassPath","C:/pyspark/*")

In [4]:
sc = SparkContext.getOrCreate(conf=conf)
spark = SparkSession(sc)

In [5]:
spark

### Read data

In [15]:
database = "AdventureWorksDW2019"
# database = "AdventureWorks"
table = "DimProduct"
# password = os.environ['PGPASS']
password = ""

# user = os.environ['PGUID']
user = "LAPTOP-7L39KNKT\gavin"
schema  = "dbo"

In [16]:
jdbc_url = f'jdbc:sqlserver://localhost\SQLEXPRESS;database={database};Trusted_Connection=True;'
# jdbc_url = f'jdbc:sqlserver://localhost:1433;database={database};encrypt=true;trustServerCertificate=true;'
# jdbc_url = f'jdbc:sqlserver://localhost:5432;database={database};encrypt=true;trustServerCertificate=true;'

In [17]:
df = spark.read \
    .format("jdbc") \
    .option("url", jdbc_url) \
    .option("dbtable", f"{schema}.{table}") \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .load()

Py4JJavaError: An error occurred while calling o78.load.
: com.microsoft.sqlserver.jdbc.SQLServerException: The driver could not establish a secure connection to SQL Server by using Secure Sockets Layer (SSL) encryption. Error: "PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target". ClientConnectionId:202ae532-cdf1-473d-ab28-ae127f7d6af5
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.terminate(SQLServerConnection.java:3806)
	at com.microsoft.sqlserver.jdbc.TDSChannel.enableSSL(IOBuffer.java:1906)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.connectHelper(SQLServerConnection.java:3329)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.login(SQLServerConnection.java:2950)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.connectInternal(SQLServerConnection.java:2790)
	at com.microsoft.sqlserver.jdbc.SQLServerConnection.connect(SQLServerConnection.java:1663)
	at com.microsoft.sqlserver.jdbc.SQLServerDriver.connect(SQLServerDriver.java:1064)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.BasicConnectionProvider.getConnection(BasicConnectionProvider.scala:49)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.ConnectionProviderBase.create(ConnectionProvider.scala:102)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1(JdbcDialects.scala:123)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1$adapted(JdbcDialects.scala:119)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.getQueryOutputSchema(JDBCRDD.scala:63)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:58)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation$.getSchema(JDBCRelation.scala:241)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:37)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:346)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:172)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: javax.net.ssl.SSLHandshakeException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
	at java.base/sun.security.ssl.Alert.createSSLException(Alert.java:131)
	at java.base/sun.security.ssl.TransportContext.fatal(TransportContext.java:353)
	at java.base/sun.security.ssl.TransportContext.fatal(TransportContext.java:296)
	at java.base/sun.security.ssl.TransportContext.fatal(TransportContext.java:291)
	at java.base/sun.security.ssl.CertificateMessage$T12CertificateConsumer.checkServerCerts(CertificateMessage.java:654)
	at java.base/sun.security.ssl.CertificateMessage$T12CertificateConsumer.onCertificate(CertificateMessage.java:473)
	at java.base/sun.security.ssl.CertificateMessage$T12CertificateConsumer.consume(CertificateMessage.java:369)
	at java.base/sun.security.ssl.SSLHandshake.consume(SSLHandshake.java:392)
	at java.base/sun.security.ssl.HandshakeContext.dispatch(HandshakeContext.java:443)
	at java.base/sun.security.ssl.HandshakeContext.dispatch(HandshakeContext.java:421)
	at java.base/sun.security.ssl.TransportContext.dispatch(TransportContext.java:183)
	at java.base/sun.security.ssl.SSLTransport.decode(SSLTransport.java:172)
	at java.base/sun.security.ssl.SSLSocketImpl.decode(SSLSocketImpl.java:1507)
	at java.base/sun.security.ssl.SSLSocketImpl.readHandshakeRecord(SSLSocketImpl.java:1417)
	at java.base/sun.security.ssl.SSLSocketImpl.startHandshake(SSLSocketImpl.java:456)
	at java.base/sun.security.ssl.SSLSocketImpl.startHandshake(SSLSocketImpl.java:427)
	at com.microsoft.sqlserver.jdbc.TDSChannel.enableSSL(IOBuffer.java:1795)
	... 31 more
Caused by: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
	at java.base/sun.security.validator.PKIXValidator.doBuild(PKIXValidator.java:439)
	at java.base/sun.security.validator.PKIXValidator.engineValidate(PKIXValidator.java:306)
	at java.base/sun.security.validator.Validator.validate(Validator.java:264)
	at java.base/sun.security.ssl.X509TrustManagerImpl.validate(X509TrustManagerImpl.java:313)
	at java.base/sun.security.ssl.X509TrustManagerImpl.checkTrusted(X509TrustManagerImpl.java:233)
	at java.base/sun.security.ssl.X509TrustManagerImpl.checkServerTrusted(X509TrustManagerImpl.java:110)
	at com.microsoft.sqlserver.jdbc.HostNameOverrideX509TrustManager.checkServerTrusted(SQLServerTrustManager.java:86)
	at java.base/sun.security.ssl.AbstractTrustManagerWrapper.checkServerTrusted(SSLContextImpl.java:1510)
	at java.base/sun.security.ssl.CertificateMessage$T12CertificateConsumer.checkServerCerts(CertificateMessage.java:638)
	... 43 more
Caused by: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
	at java.base/sun.security.provider.certpath.SunCertPathBuilder.build(SunCertPathBuilder.java:141)
	at java.base/sun.security.provider.certpath.SunCertPathBuilder.engineBuild(SunCertPathBuilder.java:126)
	at java.base/java.security.cert.CertPathBuilder.build(CertPathBuilder.java:297)
	at java.base/sun.security.validator.PKIXValidator.doBuild(PKIXValidator.java:434)
	... 51 more

In [25]:
df.show()

NameError: name 'df' is not defined

In [10]:
df.limit(10).toPandas()

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,None,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,None,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,None,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,None,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,None,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
5,6,CA-5965,NaN,None,None,LL Crankarm,,,None,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
6,7,CA-6738,NaN,None,None,ML Crankarm,,,None,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
7,8,CA-7457,NaN,None,None,HL Crankarm,,,None,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
8,9,CB-2903,NaN,None,None,Chainring Bolts,,,None,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
9,10,CN-6137,NaN,None,None,Chainring Nut,,,None,False,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

###  PySpark DataFrame API

In [11]:
#rename column
df = df.withColumnRenamed("EnglishProductName","ProductName")
df.show()

+----------+-------------------+---------------------+---------------------+-------------------+--------------------+------------------+-----------------+------------+-----------------+------+----------------+------------+---------+----+---------+------+-----------------+-----------+-----------+-----+-----+---------+--------------------+------------------+-----------------+------------------+-----------------+-----------------+---------------+-----------------+-------------------+------------------+-------------------+-------+-------+
|ProductKey|ProductAlternateKey|ProductSubcategoryKey|WeightUnitMeasureCode|SizeUnitMeasureCode|         ProductName|SpanishProductName|FrenchProductName|StandardCost|FinishedGoodsFlag| Color|SafetyStockLevel|ReorderPoint|ListPrice|Size|SizeRange|Weight|DaysToManufacture|ProductLine|DealerPrice|Class|Style|ModelName|          LargePhoto|EnglishDescription|FrenchDescription|ChineseDescription|ArabicDescription|HebrewDescription|ThaiDescription|GermanDescription|JapaneseDescription|TurkishDescription|          StartDate|EndDate| Status|
+----------+-------------------+---------------------+---------------------+-------------------+--------------------+------------------+-----------------+------------+-----------------+------+----------------+------------+---------+----+---------+------+-----------------+-----------+-----------+-----+-----+---------+--------------------+------------------+-----------------+------------------+-----------------+-----------------+---------------+-----------------+-------------------+------------------+-------------------+-------+-------+
|         1|            AR-5381|                 null|                 null|               null|     Adjustable Race|                  |                 |        null|            false|    NA|            1000|         750|     null|null|       NA|  null|                0|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|         2|            BA-8327|                 null|                 null|               null|        Bearing Ball|                  |                 |        null|            false|    NA|            1000|         750|     null|null|       NA|  null|                0|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|         3|            BE-2349|                 null|                 null|               null|     BB Ball Bearing|                  |                 |        null|            false|    NA|             800|         600|     null|null|       NA|  null|                1|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|         4|            BE-2908|                 null|                 null|               null|Headset Ball Bear...|                  |                 |        null|            false|    NA|             800|         600|     null|null|       NA|  null|                0|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|         5|            BL-2036|                 null|                 null|               null|               Blade|                  |                 |        null|            false|    NA|             800|         600|     null|null|       NA|  null|                1|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|         6|            CA-5965|                 null|                 null|               null|         LL Crankarm|                  |                 |        null|            false| Black|             500|         375|     null|null|       NA|  null|                0|       null|       null|   L | null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|         7|            CA-6738|                 null|                 null|               null|         ML Crankarm|                  |                 |        null|            false| Black|             500|         375|     null|null|       NA|  null|                0|       null|       null|   M | null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|         8|            CA-7457|                 null|                 null|               null|         HL Crankarm|                  |                 |        null|            false| Black|             500|         375|     null|null|       NA|  null|                0|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|         9|            CB-2903|                 null|                 null|               null|     Chainring Bolts|                  |                 |        null|            false|Silver|            1000|         750|     null|null|       NA|  null|                0|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|        10|            CN-6137|                 null|                 null|               null|       Chainring Nut|                  |                 |        null|            false|Silver|            1000|         750|     null|null|       NA|  null|                0|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|        11|            CR-7833|                 null|                 null|               null|           Chainring|                  |                 |        null|            false| Black|            1000|         750|     null|null|       NA|  null|                0|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|        12|            CR-9981|                 null|                 null|               null|          Crown Race|                  |                 |        null|            false|    NA|            1000|         750|     null|null|       NA|  null|                0|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|        13|            CS-2812|                 null|                 null|               null|         Chain Stays|                  |                 |        null|            false|    NA|            1000|         750|     null|null|       NA|  null|                1|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|        14|            DC-8732|                 null|                 null|               null|             Decal 1|                  |                 |        null|            false|    NA|            1000|         750|     null|null|       NA|  null|                0|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|        15|            DC-9824|                 null|                 null|               null|             Decal 2|                  |                 |        null|            false|    NA|            1000|         750|     null|null|       NA|  null|                0|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|        16|            DT-2377|                 null|                 null|               null|           Down Tube|                  |                 |        null|            false|    NA|             800|         600|     null|null|       NA|  null|                1|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|        17|            EC-M092|                 null|                 null|               null|   Mountain End Caps|                  |                 |        null|            false|    NA|            1000|         750|     null|null|       NA|  null|                1|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|        18|            EC-R098|                 null|                 null|               null|       Road End Caps|                  |                 |        null|            false|    NA|            1000|         750|     null|null|       NA|  null|                1|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|        19|            EC-T209|                 null|                 null|               null|    Touring End Caps|                  |                 |        null|            false|    NA|            1000|         750|     null|null|       NA|  null|                1|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
|        20|            FE-3760|                 null|                 null|               null|            Fork End|                  |                 |        null|            false|    NA|             800|         600|     null|null|       NA|  null|                1|       null|       null| null| null|     null|[47 49 46 38 39 6...|              null|             null|              null|             null|             null|           null|             null|               null|              null|2003-07-01 00:00:00|   null|Current|
+----------+-------------------+---------------------+---------------------+-------------------+--------------------+------------------+-----------------+------------+-----------------+------+----------------+------------+---------+----+---------+------+-----------------+-----------+-----------+-----+-----+---------+--------------------+------------------+-----------------+------------------+-----------------+-----------------+---------------+-----------------+-------------------+------------------+-------------------+-------+-------+
only showing top 20 rows

In [12]:
# Row count
df.count()

606

In [13]:
# Select subset of columns
df = df.select("ProductKey", "ProductName", "Color")
df.show()

+----------+--------------------+------+
|ProductKey|         ProductName| Color|
+----------+--------------------+------+
|         1|     Adjustable Race|    NA|
|         2|        Bearing Ball|    NA|
|         3|     BB Ball Bearing|    NA|
|         4|Headset Ball Bear...|    NA|
|         5|               Blade|    NA|
|         6|         LL Crankarm| Black|
|         7|         ML Crankarm| Black|
|         8|         HL Crankarm| Black|
|         9|     Chainring Bolts|Silver|
|        10|       Chainring Nut|Silver|
|        11|           Chainring| Black|
|        12|          Crown Race|    NA|
|        13|         Chain Stays|    NA|
|        14|             Decal 1|    NA|
|        15|             Decal 2|    NA|
|        16|           Down Tube|    NA|
|        17|   Mountain End Caps|    NA|
|        18|       Road End Caps|    NA|
|        19|    Touring End Caps|    NA|
|        20|            Fork End|    NA|
+----------+--------------------+------+
only showing top 20 rows

### Dataframe sort operation

In [14]:
df.sort("ProductName").show()

+----------+--------------------+------+
|ProductKey|         ProductName| Color|
+----------+--------------------+------+
|       225|        AWC Logo Cap| Multi|
|       224|        AWC Logo Cap| Multi|
|       223|        AWC Logo Cap| Multi|
|         1|     Adjustable Race|    NA|
|       486|All-Purpose Bike ...|    NA|
|         3|     BB Ball Bearing|    NA|
|         2|        Bearing Ball|    NA|
|       484|Bike Wash - Disso...|    NA|
|         5|               Blade|    NA|
|       447|          Cable Lock|    NA|
|       559|               Chain|Silver|
|        13|         Chain Stays|    NA|
|        11|           Chainring| Black|
|         9|     Chainring Bolts|Silver|
|        10|       Chainring Nut|Silver|
|       473|     Classic Vest, L|  Blue|
|       472|     Classic Vest, M|  Blue|
|       471|     Classic Vest, S|  Blue|
|       178|    Cone-Shaped Race|    NA|
|        12|          Crown Race|    NA|
+----------+--------------------+------+
only showing top 20 rows

In [15]:
# descending Sort Order
from pyspark.sql import functions as F
df.sort(F.desc("ProductName")).show()

+----------+--------------------+------+
|ProductKey|         ProductName| Color|
+----------+--------------------+------+
|       456|   Women's Tights, S| Black|
|       457|   Women's Tights, M| Black|
|       458|   Women's Tights, L| Black|
|       474|Women's Mountain ...| Black|
|       475|Women's Mountain ...| Black|
|       476|Women's Mountain ...| Black|
|       477|Water Bottle - 30...|    NA|
|       446|Touring-Panniers,...|  Grey|
|       572|Touring-3000 Yell...|Yellow|
|       571|Touring-3000 Yell...|Yellow|
|       570|Touring-3000 Yell...|Yellow|
|       569|Touring-3000 Yell...|Yellow|
|       568|Touring-3000 Yell...|Yellow|
|       567|Touring-3000 Blue...|  Blue|
|       566|Touring-3000 Blue...|  Blue|
|       565|Touring-3000 Blue...|  Blue|
|       586|Touring-3000 Blue...|  Blue|
|       585|Touring-3000 Blue...|  Blue|
|       560|Touring-2000 Blue...|  Blue|
|       579|Touring-2000 Blue...|  Blue|
+----------+--------------------+------+
only showing top 20 rows

In [16]:
df.printSchema()

root
 |-- ProductKey: integer (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- Color: string (nullable = true)

### Dataframe filter operation

In [17]:
df.select("ProductKey", "ProductName").filter("ProductKey = 22").show()

+----------+-------------+
|ProductKey|  ProductName|
+----------+-------------+
|        22|Flat Washer 1|
+----------+-------------+

In [18]:
df.select(df.ProductKey, df.ProductName).filter("ProductKey = 22").show()

+----------+-------------+
|ProductKey|  ProductName|
+----------+-------------+
|        22|Flat Washer 1|
+----------+-------------+

In [19]:
df.select("ProductKey", "ProductName").filter("ProductName like '%helmet%'").show()

+----------+--------------------+
|ProductKey|         ProductName|
+----------+--------------------+
|       212|Sport-100 Helmet,...|
|       213|Sport-100 Helmet,...|
|       214|Sport-100 Helmet,...|
|       215|Sport-100 Helmet,...|
|       216|Sport-100 Helmet,...|
|       217|Sport-100 Helmet,...|
|       220|Sport-100 Helmet,...|
|       221|Sport-100 Helmet,...|
|       222|Sport-100 Helmet,...|
+----------+--------------------+

In [20]:
df.filter((df.ProductName.like('%helmet%')) & (df.Color=='Black')).show()

+----------+--------------------+-----+
|ProductKey|         ProductName|Color|
+----------+--------------------+-----+
|       215|Sport-100 Helmet,...|Black|
|       216|Sport-100 Helmet,...|Black|
|       217|Sport-100 Helmet,...|Black|
+----------+--------------------+-----+

### Spark SQL filter operations

In [21]:
#
df.createOrReplaceTempView("Product")
spark.sql("select count(1) from Product").show()

+--------+
|count(1)|
+--------+
|     606|
+--------+

In [22]:
spark.sql("select ProductKey, ProductName from Product where ProductKey = 22").show()

+----------+-------------+
|ProductKey|  ProductName|
+----------+-------------+
|        22|Flat Washer 1|
+----------+-------------+

In [23]:
spark.sql("select ProductKey, ProductName from Product where ProductName like '%helmet%'").show()

+----------+--------------------+
|ProductKey|         ProductName|
+----------+--------------------+
|       212|Sport-100 Helmet,...|
|       213|Sport-100 Helmet,...|
|       214|Sport-100 Helmet,...|
|       215|Sport-100 Helmet,...|
|       216|Sport-100 Helmet,...|
|       217|Sport-100 Helmet,...|
|       220|Sport-100 Helmet,...|
|       221|Sport-100 Helmet,...|
|       222|Sport-100 Helmet,...|
+----------+--------------------+

### Create a sales view

In [24]:
#Let's get the fact table with product sales transactions
sales = spark.read \
    .format("jdbc") \
    .option("url", jdbc_url) \
    .option("dbtable", f"dbo.FactInternetSales") \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .load()

In [25]:
sales.createOrReplaceTempView("sales")
sales.cache()

DataFrame[ProductKey: int, OrderDateKey: int, DueDateKey: int, ShipDateKey: int, CustomerKey: int, PromotionKey: int, CurrencyKey: int, SalesTerritoryKey: int, SalesOrderNumber: string, SalesOrderLineNumber: int, RevisionNumber: int, OrderQuantity: smallint, UnitPrice: decimal(19,4), ExtendedAmount: decimal(19,4), UnitPriceDiscountPct: double, DiscountAmount: double, ProductStandardCost: decimal(19,4), TotalProductCost: decimal(19,4), SalesAmount: decimal(19,4), TaxAmt: decimal(19,4), Freight: decimal(19,4), CarrierTrackingNumber: string, CustomerPONumber: string, OrderDate: timestamp, DueDate: timestamp, ShipDate: timestamp]

### Join the Product and Sales with SQL

In [26]:
spark.sql("""
SELECT 
    p.ProductName,
    SUM(s.SalesAmount) AS SalesAmount
FROM  Product p
    Inner join sales s on p.ProductKey = s.ProductKey
where ProductName like '%helmet%'
Group by 
    p.ProductName
order by 
    SUM(s.SalesAmount) desc"""
).show()

+--------------------+-----------+
|         ProductName|SalesAmount|
+--------------------+-----------+
|Sport-100 Helmet,...| 78027.7000|
|Sport-100 Helmet,...| 74353.7500|
|Sport-100 Helmet,...| 72954.1500|
+--------------------+-----------+

### Join two dataframes

In [27]:
salesjoined = sales.join(df, ['ProductKey'],how='inner')
salesjoined.limit(10).toPandas()

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate,ProductName,Color
0,214,20140128,20140209,20140204,15251,1,100,6,SO75121,3,...,34.9900,2.7992,0.8748,None,None,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red
1,214,20140128,20140209,20140204,15160,1,100,4,SO75105,2,...,34.9900,2.7992,0.8748,None,None,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red
2,214,20140128,20140209,20140204,11794,1,100,4,SO75087,1,...,34.9900,2.7992,0.8748,None,None,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red
3,214,20140126,20140207,20140202,16175,1,100,9,SO75033,2,...,34.9900,2.7992,0.8748,None,None,2014-01-26,2014-02-07,2014-02-02,"Sport-100 Helmet, Red",Red
4,214,20140125,20140206,20140201,20169,1,100,8,SO75020,3,...,34.9900,2.7992,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red
5,214,20140125,20140206,20140201,14168,1,100,7,SO75019,4,...,34.9900,2.7992,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red
6,214,20140125,20140206,20140201,17686,1,100,6,SO75016,4,...,34.9900,2.7992,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red
7,214,20140125,20140206,20140201,24635,1,100,4,SO75009,3,...,34.9900,2.7992,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red
8,214,20140125,20140206,20140201,11229,1,100,4,SO75004,2,...,34.9900,2.7992,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red
9,214,20140125,20140206,20140201,17305,1,100,9,SO75002,1,...,34.9900,2.7992,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red

### Group by with column alias

In [28]:
salesjoined.groupBy(["ProductName","Color"]).agg(
    F.sum("SalesAmount").alias("TotalSalesAmounted"),\
    F.max("SalesAmount").alias("MaxSalesAmount")\
    ).show()

+--------------------+------+------------------+--------------+
|         ProductName| Color|TotalSalesAmounted|MaxSalesAmount|
+--------------------+------+------------------+--------------+
|Half-Finger Glove...| Black|        12220.5100|       24.4900|
|Touring-3000 Blue...|  Blue|        42313.9500|      742.3500|
|Touring-3000 Yell...|Yellow|        43798.6500|      742.3500|
|  Road-250 Black, 52| Black|       734401.2000|     2443.3500|
|Women's Mountain ...| Black|        24636.4800|       69.9900|
|  Road-650 Black, 48| Black|        45553.2394|      782.9900|
|    Road-650 Red, 58|   Red|        56347.3158|      782.9900|
|Mountain-200 Blac...| Black|      1363142.0934|     2294.9900|
|    Road-250 Red, 52|   Red|       324965.5500|     2443.3500|
|  Road-250 Black, 48| Black|       691206.2625|     2443.3500|
| Hitch Rack - 4-Bike|    NA|        39360.0000|      120.0000|
|  Road-650 Black, 52| Black|        66917.6806|      782.9900|
|    Road-250 Red, 48|   Red|       395822.7000|     2443.3500|
|Touring-3000 Yell...|Yellow|        43798.6500|      742.3500|
|Mountain-200 Silv...|Silver|      1339462.7904|     2319.9900|
|Mountain-500 Blac...| Black|        30239.4400|      539.9900|
|Touring-3000 Yell...|Yellow|        34890.4500|      742.3500|
|Women's Mountain ...| Black|        25406.3700|       69.9900|
|Long-Sleeve Logo ...| Multi|        20645.8700|       49.9900|
|    Road Bottle Cage|    NA|        15390.8800|        8.9900|
+--------------------+------+------------------+--------------+
only showing top 20 rows

### Create a new column based on calculation

In [29]:
saleswithNet = salesjoined.withColumn("NetSales", F.col("SalesAmount") - F.col("TaxAmt"))
saleswithNet.limit(10).toPandas()

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate,ProductName,Color,NetSales
0,214,20140128,20140209,20140204,15251,1,100,6,SO75121,3,...,2.7992,0.8748,None,None,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red,32.1908
1,214,20140128,20140209,20140204,15160,1,100,4,SO75105,2,...,2.7992,0.8748,None,None,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red,32.1908
2,214,20140128,20140209,20140204,11794,1,100,4,SO75087,1,...,2.7992,0.8748,None,None,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red,32.1908
3,214,20140126,20140207,20140202,16175,1,100,9,SO75033,2,...,2.7992,0.8748,None,None,2014-01-26,2014-02-07,2014-02-02,"Sport-100 Helmet, Red",Red,32.1908
4,214,20140125,20140206,20140201,20169,1,100,8,SO75020,3,...,2.7992,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908
5,214,20140125,20140206,20140201,14168,1,100,7,SO75019,4,...,2.7992,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908
6,214,20140125,20140206,20140201,17686,1,100,6,SO75016,4,...,2.7992,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908
7,214,20140125,20140206,20140201,24635,1,100,4,SO75009,3,...,2.7992,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908
8,214,20140125,20140206,20140201,11229,1,100,4,SO75004,2,...,2.7992,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908
9,214,20140125,20140206,20140201,17305,1,100,9,SO75002,1,...,2.7992,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908

### Create a new column based on a condition

In [30]:
#Create a new column based on a condition
saleswithNet = saleswithNet.withColumn(
    'Region',
    F.when((F.col("SalesTerritoryKey") == 7), "Europe")\
    .when((F.col("SalesTerritoryKey") == 8) , "Europe")\
    .when((F.col("SalesTerritoryKey") == 9) , "Pacific")\
    .when((F.col("SalesTerritoryKey") == 10) , "Europe")\
    .otherwise("Americas")
)
saleswithNet.limit(10).toPandas()

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate,ProductName,Color,NetSales,Region
0,214,20140128,20140209,20140204,15251,1,100,6,SO75121,3,...,0.8748,None,None,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red,32.1908,Americas
1,214,20140128,20140209,20140204,15160,1,100,4,SO75105,2,...,0.8748,None,None,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red,32.1908,Americas
2,214,20140128,20140209,20140204,11794,1,100,4,SO75087,1,...,0.8748,None,None,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red,32.1908,Americas
3,214,20140126,20140207,20140202,16175,1,100,9,SO75033,2,...,0.8748,None,None,2014-01-26,2014-02-07,2014-02-02,"Sport-100 Helmet, Red",Red,32.1908,Pacific
4,214,20140125,20140206,20140201,20169,1,100,8,SO75020,3,...,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Europe
5,214,20140125,20140206,20140201,14168,1,100,7,SO75019,4,...,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Europe
6,214,20140125,20140206,20140201,17686,1,100,6,SO75016,4,...,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Americas
7,214,20140125,20140206,20140201,24635,1,100,4,SO75009,3,...,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Americas
8,214,20140125,20140206,20140201,11229,1,100,4,SO75004,2,...,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Americas
9,214,20140125,20140206,20140201,17305,1,100,9,SO75002,1,...,0.8748,None,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Pacific

In [31]:
#Check distinct values
saleswithNet.select('Region').distinct().collect()

[Row(Region='Europe'), Row(Region='Pacific'), Row(Region='Americas')]

### Replace null with zero

In [32]:
#Replace null with 0
from pyspark.sql.functions import when, lit
saleswithNet = saleswithNet.withColumn('CarrierTrackingNumber', when(saleswithNet.CarrierTrackingNumber.isNull(), 
lit('0')).otherwise(saleswithNet.CarrierTrackingNumber))
saleswithNet.limit(10).toPandas()

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate,ProductName,Color,NetSales,Region
0,214,20140128,20140209,20140204,15251,1,100,6,SO75121,3,...,0.8748,0,None,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red,32.1908,Americas
1,214,20140128,20140209,20140204,15160,1,100,4,SO75105,2,...,0.8748,0,None,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red,32.1908,Americas
2,214,20140128,20140209,20140204,11794,1,100,4,SO75087,1,...,0.8748,0,None,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red,32.1908,Americas
3,214,20140126,20140207,20140202,16175,1,100,9,SO75033,2,...,0.8748,0,None,2014-01-26,2014-02-07,2014-02-02,"Sport-100 Helmet, Red",Red,32.1908,Pacific
4,214,20140125,20140206,20140201,20169,1,100,8,SO75020,3,...,0.8748,0,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Europe
5,214,20140125,20140206,20140201,14168,1,100,7,SO75019,4,...,0.8748,0,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Europe
6,214,20140125,20140206,20140201,17686,1,100,6,SO75016,4,...,0.8748,0,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Americas
7,214,20140125,20140206,20140201,24635,1,100,4,SO75009,3,...,0.8748,0,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Americas
8,214,20140125,20140206,20140201,11229,1,100,4,SO75004,2,...,0.8748,0,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Americas
9,214,20140125,20140206,20140201,17305,1,100,9,SO75002,1,...,0.8748,0,None,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Pacific

In [33]:
# Drop a columns
saleswithNet=saleswithNet.drop("CustomerPONumber")
saleswithNet.limit(10).toPandas()

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,TaxAmt,Freight,CarrierTrackingNumber,OrderDate,DueDate,ShipDate,ProductName,Color,NetSales,Region
0,214,20140128,20140209,20140204,15251,1,100,6,SO75121,3,...,2.7992,0.8748,0,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red,32.1908,Americas
1,214,20140128,20140209,20140204,15160,1,100,4,SO75105,2,...,2.7992,0.8748,0,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red,32.1908,Americas
2,214,20140128,20140209,20140204,11794,1,100,4,SO75087,1,...,2.7992,0.8748,0,2014-01-28,2014-02-09,2014-02-04,"Sport-100 Helmet, Red",Red,32.1908,Americas
3,214,20140126,20140207,20140202,16175,1,100,9,SO75033,2,...,2.7992,0.8748,0,2014-01-26,2014-02-07,2014-02-02,"Sport-100 Helmet, Red",Red,32.1908,Pacific
4,214,20140125,20140206,20140201,20169,1,100,8,SO75020,3,...,2.7992,0.8748,0,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Europe
5,214,20140125,20140206,20140201,14168,1,100,7,SO75019,4,...,2.7992,0.8748,0,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Europe
6,214,20140125,20140206,20140201,17686,1,100,6,SO75016,4,...,2.7992,0.8748,0,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Americas
7,214,20140125,20140206,20140201,24635,1,100,4,SO75009,3,...,2.7992,0.8748,0,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Americas
8,214,20140125,20140206,20140201,11229,1,100,4,SO75004,2,...,2.7992,0.8748,0,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Americas
9,214,20140125,20140206,20140201,17305,1,100,9,SO75002,1,...,2.7992,0.8748,0,2014-01-25,2014-02-06,2014-02-01,"Sport-100 Helmet, Red",Red,32.1908,Pacific