In [1]:
import pandas as pd

In [11]:
df = pd.read_csv(r"./v1_students.csv")
df

   Student# Last Name First Name Favorite Color    Age
0         1   Johnson        Mia     periwinkle   12.0
1         2     Lopez       Liam     blue green   13.0
2         3       Lee   Isabella             11    NaN
3         4    Fisher      Mason           gray   -1.0
4         5     Gupta     Olivia              9  102.0
5         6  Robinson     Sophia           blue   12.0

In [12]:
x = 13
isinstance(x, int)

True

In [17]:
# df.loc[isinstance(df['Favorite Color'], int), 'Favorite Color'] = '<missing>'
df['Favorite Color'].replace(, '<missing>')

0    periwinkle
1    blue green
2            11
3          gray
4             9
5          blue
Name: Favorite Color, dtype: object